body {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-family: "Special Elite", cursive;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  width: 90vw;
  height: 90vh;
  border: 3px solid black;
}

.content {
  flex: 0 0 auto;
  width: 45vw;
  height: 45vh;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 80vw;
    height: 80vh;
  }

  .content {
    width: 40vw;
    height: 40vh;
  }
}

.box {
  position: absolute;
  width: 200px;
  height: 200px;
  animation-name: moveBox;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  border-radius: 5px;
}

@keyframes moveBox {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
    transform: translate(var(--boxTranslateX), var(--boxTranslateY));
  }
}
